<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.13" targetFramework="net461" />
  <package id="ApprovalUtilities" version="5.7.3" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="3.0.0" targetFramework="net461" />
</packages>